.arrayCount {
    /* background-color: red; */
}

ul>li {
    padding: 10px 0px;
    box-shadow: rgb(113, 237, 113) 1px, 0px 0px;
    border: 1px;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    /* background-color: bisque; */

}

.deleteTask {
    background-color: red;
    color: white;
    border-radius: 4px;
    border: 0px;
    margin: 0px;
    padding: 4px;
}

.unmarried {
    box-shadow: rgb(208, 237, 17) 1px, 0px 0px;
    background-color: green;
}

.married {
    box-shadow: rgb(237, 17, 17) 1px, 0px 0px;
    background-color: red;
}

.success{
    background-color: green;
}
.warning{
    background-color: yellow;
}
.error{
    background-color: red;
}