.App {
    width: 90%;
    border-radius: 5px;
    /* box-shadow: rgb(72, 58, 85) 0px 1px 4px; */
    box-shadow: var(--theme-border) 0px 1px 4px;
    padding: 20px;
    margin: 50px;
}

.resetField{
    padding: 10px;
    /* position: relative; */
    /* right: 0px; */
    color: brown;
    background-color: rgb(11, 172, 22);
    margin: 0dp 10dp;
    /* width: 50px; */
    /* left: 200px */
}